.App {
	margin: 1em;
}

@media (min-width: 720px) {
	.App {
		margin-left: 5em;
		margin-right: 5em;
	}
}

.App ol {
	border-left: 1px solid #373940;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

@media (max-width: 719px) {
	.App > ol {
		border-left: 0;
	}
}